*{
  box-sizing: border-box;
}
#wrapper{

  font-family: 'Charm', cursive;
}
h1 {
  margin:auto;
  width : 30%;
  font-size: 80px
}
.scrape{
  margin-left:33%;
  width : 30%;
  font-size: 30px
}
.row , .col-sm-5 , .col-sm-7{
  padding: 20px 
}
.col-sm-7{
  margin-top: 20px;
  font-size: 20px
}

.add , .delete{
  color: rgb(87, 123, 224)
}

button{
  margin-left: 30px;
}

img{
  width: 500px;
  height: 300px;

}